<div fxLayout="row" fxLayoutAlign="space-between center">
    <span fxLayoutAlign="none center" fxLayoutGap="10px">
        <md-icon *ngIf="!group.isPokerActive" class="group-icon--inactive">pause_circle_outlined</md-icon>
        <md-icon *ngIf="group.isPokerActive" class="group-icon--active">play_circle_outlined</md-icon>
        <h3>{{group.name}}</h3>
    </span>
    <div *ngIf="group.userId === ownUser.id">
        <button (click)="startPoker()" md-raised-button data-color="primary" *ngIf="!group.isPokerActive">
            <md-icon>play_circle_outlined</md-icon>
            Start Poker
        </button>
        <button (click)="endPoker()" md-raised-button data-color="primary" *ngIf="group.isPokerActive">
            <md-icon>pause_circle_outlined</md-icon>
            Stop Poker
        </button>
    </div>
</div>

<div fxLayout="row" >
    <md-list dense fxFill>
        <div *ngFor="let userId of group.userIds">
            <md-list-item *ngIf="group.userId !== userId">
                <md-icon mdListIcon *ngIf="!userService.getById(userId).online" mdTooltip="Offline" class="group-icon--disabled">flash_off</md-icon>
                <md-icon mdListIcon *ngIf="userService.getById(userId).online && !hasPlacedBet(group.bets, userId) && !group.isPokerActive" mdTooltip="Offline" class="group-icon--active">flash_on</md-icon>
                <md-spinner mdListIcon mdTooltip="Bet missing" *ngIf="group.isPokerActive && userService.getById(userId).online && !hasPlacedBet(group.bets, userId)" ></md-spinner>

                <md-icon mdListIcon mdTooltip="Bet placed" *ngIf="userService.getById(userId).online && hasPlacedBet(group.bets, userId)" class="group-icon--active">done</md-icon>
                <h3 md-line>{{userService.getById(userId).name}}</h3>
                <p *ngIf="hasPlacedBet(group.bets, userId)">{{hasPlacedBet(group.bets, userId).bet}}</p>
            </md-list-item>
            <md-divider *ngIf="group.userId !== userId"></md-divider>
        </div>
    </md-list>
</div>

<div *ngIf="group.isPokerActive">
    <div *ngIf="group.userId !== ownUser.id">
        <h3>Place your bet</h3>
        <div fxLayout="row" fxLayoutWrap >
            <div *ngFor="let possibleBet of this.possibleBets" >
                <button md-raised-button color="primary" *ngIf="possibleBet === _lastBet">
                    {{possibleBet}}
                </button>
                <button md-raised-button (click)="placeBet(possibleBet)" *ngIf="possibleBet !== _lastBet">
                    {{possibleBet}}
                </button>
            </div>
        </div>
    </div>
</div>
