<div class="content">
    <h3>Login</h3>
    <div fxLayout="column" fxLayoutGap="50px">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
            <div>
                <md-input-container fxFlex="33" fxFlex.xs="100">
                    <input
                        mdInput
                        name="name"
                        required
                        placeholder="Name"
                        [(ngModel)]="name"
                    />
                </md-input-container>
            </div>
            <div>
                <md-input-container fxFlex="33" fxFlex.xs="100">
                    <input
                        mdInput
                        required
                        name="password"
                        type="Password"
                        placeholder="Password"
                        [(ngModel)]="password"
                    />
                </md-input-container>
            </div>
            <div>
                <button md-raised-button data-color="primary">Login</button>
            </div>
        </form>
        <div fxLayout="column" fxLayoutGap="10px">
            <div>
                <span>You don't have an account yet?</span>
            </div>
            <div>
                <button routerLink="/signup" md-raised-button data-color="primary">Signup</button>
            </div>
        </div>
    </div>
</div>
