<div class="content">
    <h3>Login</h3>
    <div fxLayout="column" fxLayoutGap="25px">
        <div fxLayout="column" fxLayoutGap="10px">
            <div>
                <span>Don't have an account yet?</span>
            </div>
            <div>
                <button routerLink="/signup" mat-raised-button data-color="primary">Signup</button>
            </div>
        </div>
        <form
            #loginForm="ngForm"
            (ngSubmit)="onSubmit(loginForm)"
            fxLayout="column"
            fxLayoutGap="10px"
        >
            <mat-form-field>
                <input
                    [disabled]="isLoading"
                    matInput
                    name="name"
                    required
                    placeholder="Name"
                    [(ngModel)]="name"
                />
                <mat-error>This field is required</mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.xs="100">
                <input
                    [disabled]="isLoading"
                    matInput
                    required
                    name="password"
                    type="Password"
                    placeholder="Password"
                    [(ngModel)]="password"
                />
                <mat-error>This field is required</mat-error>
            </mat-form-field>
            <div fxLayout="column" fxLayoutGap="10px">
                <mat-error *ngIf="formError">{{formError}}</mat-error>
                <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="start center">
                    <button [disabled]="isLoading" mat-raised-button data-color="primary">Login</button>
                    <mat-spinner *ngIf="isLoading" mode="indeterminate"></mat-spinner>
                </div>
            </div>
        </form>
    </div>
</div>
