<div fxLayout="row" fxFlex fxLayoutWrap>
    <md-card class="card" fxFlex="100">
        <button md-raised-button color="primary" routerLink="/scrum-poker/create-group">Create Group</button>
    </md-card>
    <div fxFlex="calc(50% - 10px)" fxFlex.xs="calc(100% - 10px)">
        <md-card class="card">
            <md-card-content>
                <md-card-subtitle>{{userService.getOnlineUsers().length}} Users are online</md-card-subtitle>
                <md-card-content>
                    <md-list>
                        <md-list-item *ngFor="let user of getOrderedUsers(userService.getOnlineUsers())">
                            <h3 md-line>
                                <strong *ngIf="userService.isOwnUser(user)">{{user.name}}</strong>
                                <span *ngIf="!userService.isOwnUser(user)">{{user.name}}</span>
                            </h3>
                        </md-list-item>
                    </md-list>
                </md-card-content>
                <md-card-subtitle>
                    {{userService.getOfflineUsers().length}} Users are offline
                </md-card-subtitle>
                <md-card-content>
                    <md-list>
                        <md-list-item *ngFor="let user of getOrderedUsers(userService.getOfflineUsers())">
                            <h3 md-line>{{user.name}}</h3>
                        </md-list-item>
                    </md-list>
                </md-card-content>
            </md-card-content>
        </md-card>
    </div>
    <div fxFlex="calc(50% - 10px)" fxFlex.xs="calc(100% - 10px)">
        <md-card class="card">
            <md-card-subtitle>{{groupService.groups.length}} groups available</md-card-subtitle>
            <md-card-content>
                <md-list>
                    <md-list-item *ngFor="let group of getOrderedGroups(groupService.groups)">
                        <h3 md-line>{{group.name}}</h3>
                        <p md-line>
                            <span>{{userService.getById(group.userId).name}}</span>
                        </p>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                            <button md-raised-button *ngIf="isOwnGroup(group.id)" data-color="primary">
                                Enter
                            </button>
                            <button md-raised-button *ngIf="!isOwnGroup(group.id)">
                                Join
                            </button>
                            <md-icon *ngIf="group.isPokerActive" mdTooltip="Poker is in progress" class="group-icon--active">play_circle_outlined</md-icon>
                            <md-icon *ngIf="!group.isPokerActive" mdTooltip="Poker is not in progress" class="group-icon--inactive">pause_circle_outlined</md-icon>
                        </div>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>
</div>

