<h3>Sign Up</h3>
<form #signupForm="ngForm" (ngSubmit)="onSubmit()">
    <md-input-container>
        <input
            mdInput
            name="name"
            placeholder="Name"
            minlength="3"
            maxlength="64"
            required
            [(ngModel)]="name"
        />
    </md-input-container>
    <md-input-container>
        <input
            mdInput
            name="password"
            type="password"
            required
            placeholder="Password"
            [(ngModel)]="password"
            minlength="8"
        />
    </md-input-container>
    <button md-raised-button data-color="primary">Sign up</button>
</form>
