<div class="content">
    <h3>Sign Up</h3>
    <form #signupForm="ngForm" (ngSubmit)="onSubmit()" fxLayout="column">
        <div>
            <md-input-container fxFlex="33" fxFlex.xs="100">
                <input
                    mdInput
                    name="name"
                    placeholder="Name"
                    minlength="3"
                    maxlength="64"
                    required
                    [(ngModel)]="name"
                />
            </md-input-container>
        </div>
        <div>
            <md-input-container fxFlex="33" fxFlex.xs="100">
                <input
                    mdInput
                    name="password"
                    type="password"
                    required
                    placeholder="Password"
                    [(ngModel)]="password"
                    minlength="8"
                />
            </md-input-container>
        </div>
        <div>
            <button md-raised-button data-color="primary">Sign up</button>
        </div>
    </form>
</div>
