@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    font-family: 'Roboto', monospace;
    margin: 0;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}

.content {
    padding: 20px;
}

.group-icon {
    &--active {
        color: green;
    }

    &--inactive {
        color: red;
    }
}
